# Bruneton's standard analytic Earth atmosphere at physical Earth radii.

bottom_radius_m 6378136.6
top_altitude_m 100000
sun_distance_au 1
sun_angular_radius_at_1au_rad 0.004675
rayleigh_scale_height_m 8000
mie_scale_height_m 1200
absorption_scale_height_m 1
absorption_profile ozone
emulate_half_precision false
mie_phase_g 0.8
minimum_sun_zenith_degrees 120
spectrum_file earth-bruneton-spectrum.csv
